<div id="insights_{{ task_index }}" class="cell-insights">
    <div class="card h-100">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h6 class="mb-0">
                <i id="insight_bulb_{{ task_index }}" class="bi bi-lightbulb-off me-2 insight-bulb-icon"></i>
                Insights
            </h6>
        </div>
        <div class="card-body insights-content p-0 d-flex flex-column">
            <ul class="nav nav-tabs" id="insightsTabs_{{ task_index }}" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="insights-chat-tab-{{ task_index }}" data-bs-toggle="tab" data-bs-target="#insights-chat-{{ task_index }}"
                        type="button" role="tab" aria-controls="insights-chat-{{ task_index }}" aria-selected="true">
                        Chat with GINA
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="insights-variables-tab-{{ task_index }}" data-bs-toggle="tab" data-bs-target="#insights-variables-{{ task_index }}"
                        type="button" role="tab" aria-controls="insights-variables-{{ task_index }}" aria-selected="false">
                        Variables
                    </button>
                </li>
                {% if task_step['type'] == 'code' %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="insights-code-inspector-tab-{{ task_index }}" data-bs-toggle="tab" data-bs-target="#insights-code-inspector-{{ task_index }}"
                            type="button" role="tab" aria-controls="insights-code-inspector-{{ task_index }}" aria-selected="false">
                            Code Inspector
                        </button>
                    </li>
                {% endif %}
                {% if task_step['type'] in ['data', 'source'] %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="insights-data-inspector-tab-{{ task_index }}" data-bs-toggle="tab" data-bs-target="#insights-data-inspector-{{ task_index }}" 
                            type="button" role="tab" aria-controls="insights-data-inspector-{{ task_index }}" aria-selected="false">
                            Data Inspector
                        </button>
                    </li>
                {% endif %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="insights-preview-tab-{{ task_index }}" data-bs-toggle="tab" data-bs-target="#insights-preview-{{ task_index }}"
                        type="button" role="tab" aria-controls="insights-preview-{{ task_index }}" aria-selected="false">
                        Preview
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="insights-global-fields-tab-{{ task_index }}" data-bs-toggle="tab" data-bs-target="#insights-global-fields-{{ task_index }}" 
                        type="button" role="tab" aria-controls="insights-global-fields-{{ task_index }}" aria-selected="false">
                        Global Fields
                    </button>
                </li>
            </ul>
        
            <!-- Tab panes -->
            <div class="tab-content flex-grow-1 overflow-auto" id="insightsTabsContent_{{ task_index }}">
                <!-- Chat with GINA  -->
                <div class="tab-pane fade show active" id="insights-chat-{{ task_index }}" role="tabpanel"
                    aria-labelledby="insights-chat-tab-{{ task_index }}" tabindex="0">
                    <div id="insights_gina_chat_{{ task_index }}" class="insights-gina-chat-container"></div>
                </div>
        
                <!-- Variables -->
                <div class="tab-pane fade" id="insights-variables-{{ task_index }}" role="tabpanel"
                    aria-labelledby="insights-variables-tab-{{ task_index }}" tabindex="0">
                    <div class="p-3">
                        <!-- <ul class="nav nav-tabs" id="variablesTabs{{ task_index }}" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="variables-module-tab-{{ task_index }}" data-bs-toggle="tab" data-bs-target="#variables-modules-{{ task_index }}"
                                    type="button" role="tab" aria-controls="variables-modules-{{ task_index }}" aria-selected="true">
                                    Modules
                                </button>
                                <button class="nav-link active" id="variables-objects-tab-{{ task_index }}" data-bs-toggle="tab" data-bs-target="#variables-object-{{ task_index }}"
                                    type="button" role="tab" aria-controls="variables-objects-{{ task_index }}" aria-selected="true">
                                    Objects
                                </button>
                                <button class="nav-link active" id="variables-primitives-tab-{{ task_index }}" data-bs-toggle="tab" data-bs-target="#variables-primitives-{{ task_index }}"
                                    type="button" role="tab" aria-controls="variables-primitives-{{ task_index }}" aria-selected="true">
                                    Primitives
                                </button>
                                <button class="nav-link active" id="variables-data-tab-{{ task_index }}" data-bs-toggle="tab" data-bs-target="#variables-data-{{ task_index }}"
                                    type="button" role="tab" aria-controls="variables-data-{{ task_index }}" aria-selected="true">
                                    Data
                                </button>
                            </li>
                        </ul> -->
                        <div class="variables-list" id="variables_{{ task_index }}">
                            <div class="text-muted d-flex align-items-center">
                                <div class="spinner-border spinner-border-sm me-2 d-none insights-spinner" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <span>Variables will appear here…</span>
                            </div>
                        </div>
                    </div>
                </div>
        
                {% if task_step['type'] == 'code' %}
                    <div class="tab-pane fade" id="insights-code-inspector-{{ task_index }}" role="tabpanel"
                        aria-labelledby="insights-code-inspector-tab-{{ task_index }}" tabindex="0">
                        <div class="p-3" id="code_inspector-{{ task_index }}"></div>
                    </div>
                {% endif %}

                {% if task_step['type'] in ['data', 'source'] %}
                <div class="tab-pane fade" id="insights-data-inspector-{{ task_index }}" role="tabpanel"
                        aria-labelledby="insights-data-inspector-tab-{{ task_index }}" tabindex="0">
                    <div class="p-3" id="data-inspector-{{ task_index }}"></div>
                </div>           
                {% endif %}

                <!-- Preview -->
                <div class="tab-pane fade" id="insights-preview-{{ task_index }}" role="tabpanel"
                    aria-labelledby="insights-preview-tab-{{ task_index }}" tabindex="0">
                    <div class="p-3" id="preview_{{ task_index }}"></div>
                </div>

                <!-- Global Fields -->
                <div class="tab-pane fade" id="insights-global-fields-{{ task_index }}" role="tabpanel"
                    aria-labelledby="insights-global-fields-tab-{{ task_index }}" tabindex="0">
                    <div class="p-3" id="global-fields-{{ task_index }}">
                        {% include theme("explorer/files/field_edit_fields.html") %}
                    </div>
                </div>
            </div>
            
            <!-- code results -->      
            <div class="insights-results" id="code-results-{{ task_index }}"></div>

            <!-- Console -->
            <div class="insights-console border-top bg-light">
                <div class="p-2">
                    <div class="input-group">
                        <textarea class="form-control console-input" id="console_input_{{ task_index }}"
                            placeholder="Enter command." data-task-index="{{ task_index }}" rows="1"></textarea>
                        <button class="btn btn-outline-secondary execute-console" type="button" data-task-index="{{ task_index }}">
                            <i class="bi bi-play-fill"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>