<li id="{{ (task_topic ~ '_stream_' ~ stream ~ '_step') }}_{{ task_index }}" step="{{ task_index }}"
    class="row bg-white text-dark clarama-cell-item"
    steptype="{{ task_step['type'] }}"
>
    <div class="panel col-2 col-lg-1 d-flex flex-column position-relative bg-{{ 'primary' if task_last else 'secondary' }} text-light draggable-heading" style="padding:0">
        <hr class="faded" style="margin: 0"/>
        <div class="container-fluid pt-2">
            <div class="row g-1 align-items-center">
                <div class="col-auto">
                    <button type="button" class="btn text-white step-label px-2 py-1">{{ task_index }}</button>
                </div>
                <div class="col text-end">
                    <div class="btn-group">
                        <button type="button" class="btn celleditrun p-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Run this step (Ctrl-enter)">
                            <i class="fs-5 bi bi-play-fill"></i>
                        </button>
                        {% if task_step['type'] != "data" %}
                        <button type="button" class="btn celleditdebug p-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Debug (Ctrl-\\)" data-task-index="{{ task_index }}">
                            <i class="fs-5 bi bi-bug-fill"></i>
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <input type="text" id="loop-iterable-{{ task_index }}"
                        loop-id="{{ task_index }}"
                        class="form-control loop-iterable loop-inactive"
                        value="{%- if step is defined -%}{{ step['loop-iterable'] }}{%- endif -%}">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="cell-timing container-fluid px-0"></div>
                </div>
            </div>
        </div>
        <div class="cell-spin" style="opacity: 0">
            <div class="d-flex justify-content-center spinner-border text-info position-absolute start-50" role="status" style="width: 4rem; height: 4rem;"></div>
        </div>
    </div>
    <div class="col-10 col-lg-11" style="padding:0px;">
        <div class="container-fluid">
            <div class="row flex-nowrap align-items-center" style="padding:0px;">
                {% include theme("explorer/files/_cell_insert.html") %}
                <div class="col-auto hoverover auto-hover"
                     id="task_toolbar_{{ stream }}_{{ task_index }}_trash"
                     opacity="0.04"
                     style="opacity: 0.04">
                    <button type="button" class="btn delete_step" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Delete this step"><i
                            class="fs-2 bi bi-trash"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="loop loop-edge loop-hidden loop-{{ task_index }}">&nbsp;</div>
            <div class="row">
                <div class="col loop-left loop-hidden loop-{{ task_index }}">
                    <div class="loop loop-left loop-height">&nbsp;</div>
                </div>
                <!-- Left Half -->
                <div class="col-6 left-content" id="left_content_{{ task_index }}">
                    <!-- the Editing -->
                    <div id="step_{{ stream }}_{{ task_index }}"
                         class="clarama-post-embedded cell-editor"
                         post_json="json_{{ task_index }}"
                         url="{{ call('clarama_content.content_template_render','explorer/steps/' ~ task_step['type'] ~ '_edit') }}?loop_index={{ task_index }}">
                    </div>
                    <!-- the Results -->
                    <div class="container-fluid cell-response">
                        <div id="results_{{ task_index }}" class="cell-results"
                             {% if task_step['type'] == "data" %}style="min-height: 50px;" {% endif %}>
                        </div>
                    </div>
                </div>
                <!-- Right Half -->
                <div class="col-6 right-content d-none" id="right_content_{{ task_index }}">
                    {% include theme("explorer/files/_cell_debugger.html") %}
                </div>
            </div>
            <div class="loop loop-edge loop-hidden loop-{{ task_index }}">&nbsp;</div>
        </div>
        <div class="pb-1">&nbsp;</div>
    </div>
</li>

<script>
    function toggle_loop(elem) {
        var val = (elem.val()).trim();

        loop_id = elem.attr('loop-id');

        //console.log("LOOP" + elem.attr('id'));

        //console.log('LOOP .loop-' + loop_id + ' : ' + val);

        //console.log($('.loop-' + loop_id));

        if (val == '') {
            elem.addClass('loop-inactive');
            elem.removeClass('loop-active');
            $('.loop-' + loop_id).addClass("loop-hidden");
            $('.loop-' + loop_id).removeClass("loop-show");
        } else {
            elem.addClass('loop-active');
            elem.removeClass('loop-inactive');
            $('.loop-' + loop_id).removeClass("loop-hidden");
            $('.loop-' + loop_id).addClass("loop-show");
        }
    }

    // Enhanced cell copy/paste functionality with proper content handling
    $(document).ready(() => {
        $('.loop-iterable').each(function () {
            toggle_loop($(this));
        });

        $('.loop-iterable').bind('keypress keydown keyup', function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
            }
            toggle_loop($(this));
        });

        $("input").off("change");
        $("input").on("change", function () {
            toggle_loop($(this));
        });

        // Hide both context menus initially
        $('#panel-context-menu').hide();
        $('#output-context-menu').hide();

        // Variable to store the current cell results element that was right-clicked
        let currentCellResults = null;
        
        // Right-click event on cell results - target the actual results div (output area)
        $('[id^="results_"]').on('contextmenu', function(e) {
            e.preventDefault();
            e.stopPropagation();
            
            currentCellResults = $(this);
            $('#panel-context-menu').hide();
            
            let mouseX = e.clientX;
            let mouseY = e.clientY;
            
            const $contextMenu = $('#output-context-menu');
            
            $contextMenu.css({
                display: 'block',
                position: 'fixed', 
                left: mouseX + 'px',
                top: mouseY + 'px',
                zIndex: 1000
            });
            
            return false;
        });
        
        // Right-click event on panel (editor area)
        $('.panel').on('contextmenu', function(e) {
            e.preventDefault();
            e.stopPropagation(); 

            currentContextCell = $(this).closest('.clarama-cell-item');
            $('#output-context-menu').hide();
            
            let mouseX = e.clientX;
            let mouseY = e.clientY;
            
            const $contextMenu = $('#panel-context-menu');
            
            $contextMenu.css({
                display: 'block',
                position: 'fixed', 
                left: mouseX + 'px',
                top: mouseY + 'px',
                zIndex: 1000
            });
            
            return false;
        });
        
        // Hide context menus when clicking elsewhere
        $(document).on('click', function(e) {
            if (!$(e.target).closest('#panel-context-menu, #output-context-menu').length) {
                $('#panel-context-menu').hide();
                $('#output-context-menu').hide();
            }
        });

        $(document).on('contextmenu', function(e) {
            if (!$(e.target).closest('.panel, .cell-editor, [id^="results_"]').length) {
                $('#panel-context-menu').hide();
                $('#output-context-menu').hide();
            }
        });
        
        $(window).on('scroll', function() {
            $('#panel-context-menu').hide();
            $('#output-context-menu').hide();
        });

        function extractCellContent(cell) {
            const cellType = cell.attr('steptype');
            const taskIndex = cell.attr('step');
            const targetCell = cell.find('.left-content').find('.clarama-cell-content');
            let content = {};
            
            console.log('Extracting content for cell type:', cellType, 'task index:', taskIndex);
            
            switch(cellType) {
                case 'shell':
                    content = get_shell_cell(targetCell);
                    break;    

                case 'code':
                    content = get_code_cell(targetCell);
                    break;
                    
                case 'markdown':
                    content = get_text_cell(targetCell);
                    break;
                
                case 'notification':
                    content = get_notification_cell(targetCell);
                    break;
                                        
                case 'source':
                    content = get_source_cell(targetCell);
                    break;

                case 'task':
                    content = get_source_cell(targetCell);
                    content.type = 'task';
                    break;
                    
                case 'url':
                    content = get_url_cell(targetCell);
                    break;
                    
                case 'data':
                    content = get_data_cell(targetCell);
                    break;                    
                    
                default:
                    console.warn('Unknown cell type:', cellType);
                    flash('could not copy cell', 'danger');
            }
            console.log('content: ', content);
            return content;
        }

        // Context menu functions
        window.clear_cell_output = function() {
            $('#output-context-menu').hide();
            
            if (currentCellResults) {
                const cellOffset = currentCellResults.offset();
                const windowScrollTop = $(window).scrollTop();
                
                currentCellResults.empty();
                
                requestAnimationFrame(() => {
                    $(window).scrollTop(windowScrollTop);
                });
                
                currentCellResults = null; 
            }
        };
        
        window.task_cell_copy = function() {
            $('#panel-context-menu').hide();
            
            if (!currentContextCell) {
                console.warn('No cell selected for copy operation');
                return;
            }
            
            try {
                const windowScrollTop = $(window).scrollTop();
                
                const taskIndex = currentContextCell.attr('step') || currentContextCell.attr('data-task-index');
                const stepType = currentContextCell.attr('steptype');
                const stream = currentContextCell.closest('.stream').attr('stream');
                
                const jsonScript = $('#json_' + taskIndex);
                const cellContent = extractCellContent(currentContextCell);
                
                window.copiedCellData = {
                    stepType: stepType,
                    cellContent: cellContent,
                };
                
                console.log('Copied cell data:', window.copiedCellData);
                flash('Cell copied successfully', 'success');
                
                requestAnimationFrame(() => {
                    $(window).scrollTop(windowScrollTop);
                });
                
            } catch (error) {
                console.error('Error copying cell:', error);
                flash('Failed to copy cell.', 'danger');
                
                requestAnimationFrame(() => {
                    $(window).scrollTop(windowScrollTop);
                });
            }
        };

        window.task_cell_paste = function() {
            $('#panel-context-menu').hide();
            
            if (!window.copiedCellData) {
                console.warn('No cell data to paste');
                flash('No cell data to paste. Please copy a cell first.', 'danger');
                return;
            }
            
            if (!currentContextCell) {
                console.warn('No target cell selected for paste operation');
                return;
            }
            
            try {
                const windowScrollTop = $(window).scrollTop();
                
                const targetStream = currentContextCell.closest('.stream');
                const targetStreamId = targetStream.attr('stream');
                const targetStreamFile = targetStream.attr('stream-file');
                
                new_step_id = new_step_id + 1;
                const newStepUrl = '/step/' + targetStreamId + '/' + window.copiedCellData.stepType + '/' + new_step_id + '/' + targetStreamFile + '/';
                
                get_html(newStepUrl, function(new_step) {
                    const $new_element = $(new_step);
                    
                    currentContextCell.after($new_element);
                    sortUpdate(targetStream);
                    initializeNewCellDebugger($new_element);
                    
                    const newTaskIndex = $new_element.attr('step');
                    
                    if (window.copiedCellData.loopIterable) {
                        const loopInput = $new_element.find('.loop-iterable');
                        if (loopInput.length) {
                            loopInput.val(window.copiedCellData.loopIterable);
                            toggle_loop(loopInput);
                        }
                    }
                    
                    // Find the clarama-post-embedded element
                    const embeddedElement = $new_element.find('.clarama-post-embedded');
                    if (embeddedElement.length > 0) {
                        const jsonContent = JSON.stringify(window.copiedCellData.cellContent);
                        embeddedElement.attr('json', jsonContent);
                        
                        embeddedElement.attr("clarama_loaded", "false");
                        embeddedElement.attr("autorun", "true");
                        
                        console.log('Loading pasted content into cell:', newTaskIndex);
                        console.log('JSON payload:', window.copiedCellData.cellContent);
                        
                        embeddedElement.load_post(function() {
                            console.log('Cell paste load_post completed for task:', newTaskIndex);
                            flash('Cell pasted successfully', 'success');
                                                        enable_interactions($new_element);
                            
                            requestAnimationFrame(() => {
                                $(window).scrollTop(windowScrollTop);
                            });
                        });
                        
                    } else {
                        console.warn('No clarama-post-embedded element found in new cell');
                        flash('Cell created but content could not be loaded', 'warning');
                        
                        requestAnimationFrame(() => {
                            $(window).scrollTop(windowScrollTop);
                        });
                    }
                });
                
            } catch (error) {
                console.error('Error pasting cell:', error);
                flash('Failed to paste cell. Please try again.', 'danger');
                
                requestAnimationFrame(() => {
                    $(window).scrollTop(windowScrollTop);
                });
            }
        };

        console.log('Enhanced cell copy/paste functionality initialized');
    });
</script>
