<script type="text/javascript">
    if (typeof {{ grid_id }}elements === undefined) {
        console.log("Reusing existing grid {{ grid_id }}elements")
        let {{ grid_id }}elements = {};
        let {{ grid_id }}subOptions = null;
        let {{ grid_id }}options = null;
        let {{ grid_id }}grid = null;

    }

    {{ grid_id }}elements = {{ element_json | to_json | safe }};


    {{ grid_id }}subOptions = {
        cellHeight: 55, // should be 50 - top/bottom
        column: 'auto', // size to match container. make sure to include gridstack-extra.min.css
        acceptWidgets: true, // will accept .grid-stack-item by default
        margin: 5,
        staticGrid: true,
        subGridDynamic: false, // make it recursive for all future sub-grids
    };

    {{ grid_id }}options = { // main grid options
        cellHeight: 55,
        margin: 2,
        float: true,
        minRow: 1, // don't collapse when empty
        acceptWidgets: true,
        subGridOpts: {{ grid_id }}subOptions,
        staticGrid: true,
        removable: '.trash',
        draggable: {cancel: '.no-drag'},
        subGridDynamic: false, // v7 api to create sub-grids on the fly
        children: {{ grid_json | safe }}
    }

    {{ grid_id }}grid = GridStack.addGrid(document.querySelector('#{{  grid_id }}containment-wrapper-popup'), {{ grid_id }}options);

</script>