<div class="modal fade" tabindex="-1" id="addfieldModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Content</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" id="breadcrumb_addfield">
                    </ol>
                </nav>
      
                <button type="button" class="btn btn-primary" onclick="handle_add_selected_content('/content/element/{{ file_url }}', 'empty')">Add Empty Grid</button>
      
                <div class="d-flex align-items-center w-100">
                    <p class="mb-1 pe-2">New: </p>
                    <button id="new_1" type="button" class="btn toggle_show hoverover"
                      opacity=0.6 style="opacity: 0.6" new_file_class="bi-folder"
                      new_file_type="folder" data-bs-toggle="tooltip" data-bs-title="Folder"
                      data-bs-placement="bottom"><i class="bi bi-folder"></i></button>
                    <button id="new_2" type="button" class="btn toggle_show hoverover"
                      opacity=0.6 style="opacity: 0.6" new_file_class="bi-journal-arrow-down"
                      new_file_type="task" data-bs-toggle="tooltip" data-bs-title="Task"
                      data-bs-placement="bottom"><i class="bi bi-journal-arrow-down"></i></button>
                    <button id="new_3" type="button" class="btn toggle_show hoverover"
                      opacity=0.6 style="opacity: 0.6"
                      new_file_class="bi-menu-app" new_file_type="field"
                      data-bs-toggle="tooltip" data-bs-title="Field"
                      data-bs-placement="bottom"><i class="bi bi-menu-app"></i>
                    </button>
                    <button id="new_4" type="button" class="btn toggle_show hoverover"
                      opacity=0.6 style="opacity: 0.6" new_file_class="bi-blockquote-left"
                      new_file_type="markdown" data-bs-toggle="tooltip"
                      data-bs-title="Markdown File (Help Content)" data-bs-placement="bottom"><i
                      class="bi bi-blockquote-left"></i></button>
                </div>
      
                <div id="toggle_target" name="toggle_target"
                    class="list-group-item list-group-item-action container-fluid toggle_target p-3"
                    style="display: none;">
                    <div class="row">
                        <div class="col">
                            <div class="row row-cols-auto justify-content-center align-items-center"
                                  style="width:100%;">
                                <i id="new_item" class="bi bi-folder position-relative new_item"
                                    style="font-size: 1.8rem;">
                                    <div class="rounded-pill badge-notification position-absolute translate-middle"
                                          style="font-size: 0.86em; left: 80%!important;top: 20%!important;">
                                        <i class="bi bi-plus-circle-dotted"></i>
                                    </div>
                                </i>
                                <div class="col-10">
                                    <form id="new_content_form" class="col">
                                        <div class="btn-group d-flex" role="group"
                                              aria-label="task_functions" style="width=100%;">
                                            <input id="new_content" name="new_content" type="text"
                                                    value="Untitled" class="form-control"
                                                    style="width: 100%;">
                                            <input id="new_content_type" name="new_content_type"
                                                    type="hidden" value=""
                                                    class="form-control new_content_type"
                                                    style="width: 100%;">
                                            <button type="submit" class="btn btn-secondary"><i
                                                    class="bi bi-floppy"></i></button>
                                            <button type="button" class="btn btn-secondary toggle_hide"><i
                                                    class="bi bi-x fs-4"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
      
                <select id="add_content_addfield" name="add_content" size="10" class="form-control">
      
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"
                    onclick="handle_add_selected_content('/content/element/{{ file_url }}')">Add
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // this will add a grid element when file is selected

    $( document ).ready(() => {
        // double-click on a file in the modal
        $('#add_content_addfield').on('dblclick', 'option', function () {
            document.getElementById('new_content').value = '';
            const selectedItem = $(this); 
            if (!isFolder(selectedItem)) {
                console.log("File selected: " + selectedItem.val());
                handle_add_selected_content('/content/element/{{ file_url }}')
            }
        });

        $('#addfieldModal').on('shown.bs.modal', function () {
            const filters = $(".gridaddcontent").attr('filters');
            const path = ($CLARAMA_ROOT + '/content/json/{{ file_url | path }}?subfolders=True&extensions=' + filters);

            currentModalAddContentPath = "{{ file_url | path }}";
            navigateToPath(path, 'breadcrumb_addfield', 'add_content_addfield', filters);
        });
    });

    function add_selected_content(element_render_url, selected_v = "") {
        if (selected_v !== "") {
            if (selected_v == "empty") {
                selected_val = "";
            } else {
                selected_val = selected_v;
            }
        } else {
            selected_val = "./" + $("#add_content_addfield").val();
        }
        console.log("adding " + selected_val);

        if (selected_val == null) {
            flash("No file selected!")
        } else {
            // find unique element id
            var element_id = 0;
            var element_found = false;
            do {
                element = "element_" + element_id;

                if (element in {{ grid_id }}elements) {
                    element_id = element_id + 1;
                } else {
                    element_found = true;
                }
            } while (!element_found);

            console.log("element " + element);

            // now add element
            new_element_data = {"url": selected_val};
            slate_data = saveGrid();

            if (isDict(slate_data['elements'])) {
                console.log("is dict slate_data elements");
                slate_data['elements'][element] = new_element_data;
            } else {
                console.log("is not dict slate_data elements");
                var elem = {};
                elem[element] = new_element_data;
                slate_data['elements'] = elem;
            }

            console.log(slate_data)

            return new Promise((resolve, reject) => { // added promise so that itll wait 
                $.ajax({
                    type: 'POST',
                    url: element_render_url + "?element=" + element,
                    datatype: "html",
                    contentType: 'application/json',
                    data: JSON.stringify(slate_data),
                    success: function (data) {
                        if (data['data'] == 'ok') {
                            let html = data['results'];
                            addContent(element, new_element_data, html);
                        } else {
                            console.log('Submission was not successful.');
                            console.log(data);
                            flash("Couldn't save content: " + data['error'], "danger");
                        }
                        resolve();
                    },
                    error: function (data) {
                        console.log('An error occurred.');
                        console.log(data);
                        flash("Couldn't render element content, access denied", "danger");
                        reject(err);
                    }
                });
            });
        }
    }
</script>