<div class="container-fluid row" style="height: 100%">
    <div class="col clarama-embedded-post slate-panel-target" style="height: 100%">
        {{ render_result | safe }}
    </div>
    <div class="dropdown col col-sm-1 ">
        <i class="bi bi-three-dots-vertical element_editor" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <ul class="dropdown-menu embedded-dropdown-menu">
            <li><a class="dropdown-item">Settings</a></li>
            <li><a class="dropdown-item">Edit</a></li>
            <li><a class="dropdown-item">Delete</a></li>
        </ul>
    </div>
</div>