{% if field_type != "hidden" %}
    <div class="container-fluid" style="height: 100%;">
        <div class="row" style="padding: 0;">
            <div class="col">
                <label
                        style="white-space:nowrap;overflow:hidden;">
                    {% if get(field_config,'required',False) %}
                        <strong>{{ get(field_config,'name',field) }}</strong>
                    {% else %}
                        <strong>{{ get(field_config,'name',field) }}</strong>
                    {% endif %}
                </label>
                <br/>
                {{ get(field_config,'description','') }}
            </div>
        </div>
        <div class="row" style="height: 100%; padding: 0;">
            <div class="col">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <script>
        $('[data-bs-toggle="tooltip"]').tooltip()
    </script>
{% endif %}