<div class="modal fade" id="unsaved-changes-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="bi bi-exclamation-triangle text-warning"></i>
                    Unsaved Changes
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>You have unsaved changes that will be lost if you continue.</p>
                <p>What would you like to do?</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-success" id="save-and-continue">
                    <i class="bi bi-floppy"></i> Save
                </button>
                <button type="button" class="btn btn-danger" id="discard-changes">
                    <i class="bi bi-trash"></i> Discard
                </button>
                <button type="button" class="btn btn-c2-secondary" id="cancel-changes" data-bs-dismiss="modal">
                    <i class="bi bi-x-circle"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>