{% if original_url %}
    <div class="embedded" template="slate_embed.html" original_url="{{ original_url }}"></div>
{% endif %}

<div class="row dflex">
    <div id="{{ grid_id }}-containment-wrapper" class="col clarama-grid" width="100%" height="100%"
         file_path="{{ file_url | path }}"
         grid_id="{{ grid_id }}">
    </div>
</div>

{% include theme("explorer/files/_grid_explore.html") %}
{% include theme("explorer/files/_grid_interaction.html") %}
{% include theme("web/file_footer.html") %}
