{% extends theme("explorer/files/fieldlayout_" + field_layout + ".html") %}

{% block content %}
    <input id="{{ field_id }}" name="{{ field_name }}" type="text"
           class="form-control clarama-field clarama-daterange clarama-delay-field"
           fieldtype="html"
            {{ field_config | required }}
            {{ field_config | readonly }}
           autocomplete="on"
           placeholder="{{ get(field_config,'placeholder','') }}"
           value="{{ field_value or get(field_config,'default','') }}"

            {% include theme("explorer/files/field_tooltip.html") %}
    />
{% endblock %}