{% extends "explorer/files/fieldlayout_" + field_layout + ".html" %}

{% block content %}
    <textarea id="{{ field_id }}" name="{{ field_name }}"
              fieldtype="trumbowyg"
            {{ field_config | required }}
            {{ field_config | readonly }}
              class="row text-editor form-control clarama-text-editor clarama-field clarama-rtf-field"
              celltype="text" style="height:100%">{{ field_value or get(field_config,'default','') }}</textarea>

    <script type="text/javascript">
        $(document).ready(() => {
            $('.text-editor').trumbowyg({
                autogrow: true,
                autogrowOnEnter: true,
                btns: [
                    {%- if field_config.get("undo", False) -%}
                        ['historyUndo', 'historyRedo'],
                    {%- endif -%}
                    ['formatting'],
                    ['fontsize', 'foreColor', 'backColor'],
                    ['strong', 'em'],
                    ['link'],
                    {%- if field_config.get("justify", False) -%}
                        ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                    {%- endif -%}
                    {%- if field_config.get("lists", False) -%}
                        ['unorderedList', 'orderedList', 'indent', 'outdent'],
                    {%- endif -%}
                    {%- if field_config.get("line", False) -%}
                        ['horizontalRule'],
                    {%- endif -%}
                    {%- if field_config.get("clear", False) -%}
                        ['removeformat'],
                    {%- endif -%}
                ]
            });
        });
    </script>

{% endblock %}
