{% extends theme("explorer/files/fieldlayout_" + field_layout + ".html") %}

{% block content %}
    <div style="position: relative">
        <select data-id="{{ field_id }}"
                fieldtype="html"
                name="{{ field_name }}"
                close_on_select="False"
                size="{{ field_config['size'] or '4' }}"
                {{ field_config | required }}
                {{ field_config | readonly }}
                {{ field_config | sticky }}
                {% if field_config.get('id_column') is defined %} id_column="{{ field_config['id_column'] }}"{% endif %}
                {% if field_config.get('value_column') is defined %}
                value_column="{{ field_config['value_column'] }}"{% endif %}
                {% if field_config.get('select_column') is defined %}
                select_column="{{ field_config['select_column'] }}"{% endif %}
                {% if field_config.get('disable_column') is defined %}
                disable_column="{{ field_config['disable_column'] }}"{% endif %}
                class="form-control clarama-field-select2 clarama-field clarama-select-field tooltip"
                {% include theme("explorer/files/field_tooltip.html") %}
                {% if field_config.get('data',{}).get('source') %}
                sourceurl="{{ field_config['data'] | datasource }}"
                {% endif %}
        >
            {% if field_config['placeholder'] is defined %}
                {% if field_config["default"] is not defined %}
                    <option value="" selected disabled hidden>{{ field_config['placeholder'] }}
                    </option>
                {% endif %}
            {% endif %}
            {%- for item in field_config.get('data',{}).get('options',[]) or [] -%}
                {% if item is mapping %}
                    <option value="{{ item['id'] }}"
                            {% if item['id']== field_config.get("default") or item['id']==field_value %}
                            selected="selected"  {% endif %}>{{ item['value'] }}</option>
                {% else %}
                    <option value="{{ item }}" {% if item== field_config.get("default") %}
                            selected="selected"  {% endif %}>{{ item }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
{% endblock %}