{% extends theme("explorer/files/fieldlayout_" + field_layout + ".html") %}

{% block content %}
    {% set current_state = (field_value or get(field_config, 'default', '0')) | int %}

    <button id="{{ field_id }}"
            type="submit"
            name="{{ field_name }}"
            value="{{ current_state }}"
            fieldtype="html"
            class="btn clarama-field clarama-delay-field state-toggle-btn p-0 border-0"
            onclick="cycleState_{{ field_id }}()"
            data-state="{{ current_state }}"
            style="background: none;"
            {{ field_config | required }}
            {{ field_config | readonly }}
            {% include theme("explorer/files/field_tooltip.html") %}>
        <img id="img_{{ field_id }}"
             src="{{ static('/art/state_' ~ current_state ~ '.png') }}"
             alt="State {{ current_state }}"
             width="108"
             height="38">
    </button>

    <script>
        function cycleState_{{ field_id }}() {
            const btn = document.getElementById("{{ field_id }}");
            const img = document.getElementById("img_{{ field_id }}");

            let state = parseInt(btn.dataset.state);
            if (isNaN(state)) state = 0;

            const next = (state + 1) % 3;
            btn.dataset.state = next;
            btn.value = next;

            img.src = "{{ static('/art/state_') }}" + next + ".png";
            img.alt = "State " + next;
        }
    </script>
{% endblock %}
