.chart-col option {
    background-color: #fff;
    color: #000;
}

.chart-col-back option {
    background-color: #fff;
    color: #000;
}

.clarama-cell-content .form-label {
    margin-bottom: 0;
}

.data-cell-icon-hover:hover {
    cursor: pointer;
    transition: all 300ms;
}

.data-cell-icon-hover.add:hover {
    color: rgb(120, 208, 135);
}

.data-cell-data-cell-icon-hover.remove:hover {
    color: rgb(199, 57, 57);
}

.color-picker-container {
    position: relative;
}

.color-picker-container select {
    background-color: rgb(255, 99, 132);
    /* width: 120px; */
}

.color-picker-container .chart-col-picker {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 14px;
    padding: 0;
    opacity: 0;
}

.color-picker-container .chart-col-picker-back {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 14px;
    padding: 0;
    opacity: 0;
}

.grid14-col-1 {
    flex: 0 0 auto;
    width: 7.3846%; /* this is derived from (100-4)/13 because the last col (bin icon) i set width: 4% */
}