<div id="gina-chat-container" class="gina-container d-flex flex-column">
    <div class="gina-input-container w-100">
        <div class="gina-controls w-100 d-flex justify-content-between align-items-center px-3 mt-3">
            <button class="gina-button gina-save-btn" title="Save">
                <i class="bi bi-floppy"></i>
            </button>
            <button class="gina-button gina-new-chat-btn" title="New chat" aria-label="Start a new chat">
                <i class="bi bi-plus-circle"></i>
            </button>              
            <div class="gina-splash-holder flex-grow-1 d-flex justify-content-center align-items-center"></div>
            <button type="button" class="btn btn-secondary" id="gina_kernel_status" gina="true"
                    style="background-color: rgba(159, 159, 159, 0.648);">Loading...
            </button>
        </div>

        <div class="gina-conversations flex-grow-1" id="gina-conversations">
            <!-- Older conversation blocks will be moved/added here -->
        </div>

        <div class="gina-latest" id="gina-latest">
            <!-- the active conversation block template will be injected here -->
        </div>
    </div>
</div>

<div class="clarama-task">
    <!-- GINA Kernel -->
    <div id="gina_socket" environment="{{ environment }}" class="clarama-websocket clarama-task"
         mode="run"
         topic="gina_new_{{ username }}"
         task="{{ file_url }}"
         task_kill="False"
         task=".conversation.yaml"
         task_new="True"
         task_type=".conversation.yaml"
         kernel-status="gina_kernel_status"
         onkernel="gina_kernel_registered"
         onmessage="gina_kernel_message"
    >
    </div>
</div>
