<div class="card-body" style="background-color: rgba(255, 0, 0, 0);">
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text form-control-lg bg-secondary text-white"><h3><i class="bi bi-person"></i></h3></span>
        </div>
        <input id="username" name="username" type="text" class="form-control form-control-lg" placeholder="username">
    </div>
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text form-control-lg bg-secondary text-white"><h3><i
                    class="bi bi-key"></i></h3></span>
        </div>
        <input id="password" name="password" type="password" class="form-control form-control-lg"
               placeholder="password"><br/>
    </div>
    <br/>
    <div class="form-group d-flex justify-content-end">
        <input id="basic_signin" type="submit" value="Sign In"
               class="btn btn-c2 float-right login_btn btn-lg shadow" style="width: 100px;">
    </div>
</div>