<a href="{{ role['default_folder'] }}"
    class="d-flex role-wrapper m-3 text-decoration-none"
    style="width: 21rem;">
    <div class="clickable-card card align-items-center shadow-lg p-4 flex-grow-1 {{ role['card']['type'] }}">
        <i class="bi {{ role['card']['icon'] | d('bi-folder',True) }} fs-2 p-0"></i>
        <div class="card-body text-center w-100 d-flex flex-column py-2">
            <h5 class="card-title">{{ role['card']['title'] }}</h5>
            <p class="card-text">{{ role['card']['description'] }}</p>
        </div>
    </div>
</a>
