<a href="/roles/{{ title | urlencode }}"
  class="d-flex role-wrapper m-3 text-decoration-none folder-link"
  data-folder="{{ title }}"
  data-level="0"
  style="width: 21rem;">
    <div class="clickable-card card align-items-center shadow-lg p-4 flex-grow-1 clickable-card-folder">
        <i class="bi bi-collection fs-2 p-0"></i>
        <div class="card-body text-center w-100 d-flex flex-column py-2">
            <h5 class="card-title">{{ title }}</h5>
            <p class="card-text">{{ description }}</p>
        </div>
    </div>
</a>
