{% if not content %}

<div id="canvas-holder"  style="width: 100%; display: block;  margin-left: auto;  margin-right: auto;"><canvas id="active_tasks" /></div>

 <script>
     // Append '4d' to the colors (alpha channel), except for the hovered index
    function handleHover(evt, item, legend) {
      legend.chart.data.datasets[0].backgroundColor.forEach((color, index, colors) => {
        colors[index] = index === item.index || color.length === 9 ? color : color + '4D';
      });
      legend.chart.update();
    }

    // Removes the alpha channel from background colors
    function handleLeave(evt, item, legend) {
      legend.chart.data.datasets[0].backgroundColor.forEach((color, index, colors) => {
        colors[index] = color.length === 9 ? color.slice(0, -2) : color;
      });
      legend.chart.update();
    }

    var chartColors = {
            red: 'rgb(255, 50, 50)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 255, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)',
            black: 'rgb(20, 20, 20)'
    };

    var config = {
        type: 'line',
        data: {
            datasets: [
            {
                data: [,,,,,,,,0,1,0,0,0,0,0,1],
                borderColor: chartColors.blue,
                backgroundColor: chartColors.blue,
                label: 'Scheduled',
            },
            {
                data: [0,0,0,2,1,2,1,0,0],
                borderColor: chartColors.yellow,
                backgroundColor: chartColors.yellow,
                label: 'Error',
            },
            {
                data: [0,7,0,0,0,0,0,0,0],
                borderColor: chartColors.grey,
                backgroundColor: chartColors.grey,
                label: 'Cancelled',
            },
            {
                data: [0,1,4,0,1,0,1,0,0],
                borderColor: chartColors.red,
                backgroundColor: chartColors.red,
                label: 'Failed',
            },
            {
                data: [1,0,0,16,0,1,4,0],
                borderColor: chartColors.green,
                backgroundColor: chartColors.green,
                label: 'Successful',
            }
            ],
            labels: [
                "-1 week",
                "-4 days",
                "-2 days",
                "-1 day",
                "-8 hours",
                "-4 hours",
                "-2 hours",
                "-1 hours",
                "0 hours",
                "+1 hours",
                "+2 hours",
                "+4 hours",
                "+8 hours",
                "+24 hours",
                "+1 week",
                "+1 month",
            ]
        },
        options: {
            aspectRatio: 10,
            responsive: true,
            legend: {
                position: 'right',
            },
            title: {
                display: false,
                text: 'Task status for the last hour'
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        }
    };

    $( document ).ready(() => {
        var ctx = document.getElementById("active_tasks").getContext("2d");
        window.myDoughnut = new Chart(ctx, config);
    });


    var colorNames = Object.keys(window.chartColors);



    </script>
                {% endif %}