{% extends "explorer/files/responselayout_" + response_layout + ".html" %}

{% block content %}
<div class="container-fluid position-relative" style="height: 100%">
<nav class="navbar navbar-expand-lg bg-light position-absolute top-0 end-0">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarEditor" aria-controls="navbarEditor" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarEditor">
      <ul class="navbar-nav me-auto mb-2 mb-xl-0" style="padding:5px">
        <li class="nav-item">
          <i class="nav-link bi bi-arrow-counterclockwise" onclick="resetZoom()"></i>
        </li>
        <li class="nav-item">
          <i class="nav-link bi bi-arrow-clockwise"></i>
        </li>
        <li class="nav-item">
          <i class="nav-link bi bi-scissors"></i>
        </li>
        <li class="nav-item">
          <i class="nav-link bi bi-copy"></i>
        </li>
        <li class="nav-item">
          <i class="nav-link bi bi-clipboard-plus"></i>
        </li>
      </ul>
    </div>
</nav>
<div id="{{ response_id }}-holder" style="min-width: 100px; width:100%; height:100%; position: relative; ">
    <canvas id="chart_{{ response_id }}" class="no-drag" width="100%" height="100%" /></div>
</div>

 <script>
    const labels =  Samples.utils.months({count: 200, year: 2007, section: 3});
    var chartColors = {
            red: 'rgb(255, 50, 50)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 255, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)',
            black: 'rgb(20, 20, 20)'
    };

    var config = {
        type: '{{ get(response,'style','line')}}',
        data: {
            datasets: [
            {
                data: [
                    0,
                    1,
                    0,
                    -4,
                    3,
                    0,
                    7,
                    17,
                    25,
                    200,
                    200.5,
                    199,
                    200.1,
                    200.8,
                    198,
                    200,
                    200.5,
                    199,
                    200.1,
                    200.8,
                    198,
                    200.1,
                    200.8,
                    198,
                    200,
                    200.5,
                    199,
                    197,
                    190,
                    185,
                    186,
                    184,
                    191,
                    201,
                    200,
                    200.5,
                    199,
                    200.1,
                    200.8,
                    198,
                    200,
                    200.5,
                    199,
                    200.1,
                    200.8,
                    198,
                    200.1,
                    200.8,
                    198,
                    150,
                    40
                    ,1
                    ,0
                    ,-1
                    ,4
                    ,3
                    ,2
                    ,1
                    ,3
                    ,1
                    ,1.5
                    ,4
                    ,2
                    ,1
                    ,0
                    ,-1
                    ,4
                    ,3
                    ,2
                    ,1
                    ,3
                    ,1
                    ,1.5
                    ,4
                    ,2
                    ,1
                    ,0
                    ,-1
                    ,4
                    ,3
                    ,2
                    ,1
                    ,3
                    ,1
                    ,1.5
                    ,4
                    ,2
                    ,1
                    ,0
                    ,-1
                    ,4
                    ,3
                    ,2
                    ,1
                    ,3
                    ,1
                    ,1.5
                    ,4
                    ,2
                    ,1
                    ,0
                    ,-1
                    ,4
                    ,3
                    ,2
                    ,1
                    ,3
                    ,1
                    ,1.5
                    ,4
                    ,2,
                    7,
                    17,
                    25,
                    204,
                    200.5,
                    199,
                    200.1,
                    200.8,
                    198,
                    200,
                    200.5,
                    199,
                    200.1,
                    200.8,
                    198,
                    200.1,
                    200.8,
                    198,
                    200,
                    200.5,
                    199,
                    197,
                    190,
                    185,
                    182,
                    184,
                    191,
                    201,
                    200,
                    200.5,
                    199,
                    200.1,
                    200.8,
                    198,
                    200,
                    200.5,
                    199,
                    200.1,
                    200.8,
                    198,
                    200.1,
                    200.8,
                    198,
                    150,
                    40
                    ,1
                    ,1.5
                    ,4
                    ,2
                    ,1
                    ,0
                    ,-1
                    ,4
                    ,3
                    ,2
                    ,1
                    ,3
                    ,1
                    ,1.5
                    ,4
                    ,2
                    ,1
                    ,0
                    ,-1
                    ,4
                    ,3
                    ,2
                    ,1
                    ,3
                    ,1
                    ,1.5
                    ,4
                    ,2
                    ,1
                    ,0
                    ,-1
                    ,4
                    ,3
                    ,2
                    ,1
                    ,3
                    ,1
                    ,1.5
                    ,4
                    ,2
                    ,1
                    ,0

                ],
                label: 'Sensor 1: (Degrees C)'
            },
            {
                data: [
                    1,
                    0,
                    8,
                    1,
                    0,
                    1,
                    0,
                    4,
                    2,
                    7,
                    3,
                    1,
                    1.5,
                    2.5,
                    6.3,
                    2.1,
                    1.1,
                    10,
                    30,
                    80,
                    81,
                    83,
                    81,
                    80,
                    81,
                    80,
                    81,
                    80,
                    81,
                    82.5,
                    81,
                    80,
                    81,
                    85,
                    81,
                    83,
                    81,
                    80,
                    81,
                    80,
                    81,
                    80,
                    81,
                    82.5,
                    81,
                    80,
                    81,
                    76,
                    88,
                    72,
                    64,
                    51,
                    42,
                    33,
                    21,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    1,
                    0,
                    8,
                    1,
                    0,
                    1,
                    0,
                    4,
                    2,
                    8,
                    3,
                    1,
                    1.5,
                    2.5,
                    8.3,
                    2.1,
                    1.1,
                    0,
                    0,
                    1,
                    0,
                    5,
                    1,
                    0,
                    4,
                    0,
                    4,
                    2,
                    6,
                    3,
                    1,
                    2,
                    1,
                    0,
                    2,
                    1,
                    0,
                    2.5,
                    1.1,
                    1,
                    0.5,
                    0.1,
                    0.8,
                    2.1,
                    2,
                    8,
                    3,
                    1,
                    1.5,
                    2.5,
                    8.3,
                    2.1,
                    1.1,
                    0,
                    0,
                    1,
                    0,
                    2.5,
                    6.3,
                    2.1,
                    1.1,
                    10,
                    30,
                    83,
                    81,
                    83,
                    81,
                    80,
                    83,
                    80,
                    81,
                    80,
                    81,
                    85,
                    81,
                    83,
                    81,
                    80,
                    78,
                    80,
                    81,
                    80,
                    81,
                    82.5,
                    81,
                    80,
                    77,
                    76,
                    88,
                    72,
                    64,
                    51,
                    22,
                    33,
                    31,
                    0,
                    0,
                    0,
                    0,
                    0
                ],
                label: 'Sensor 2: RPM'
            },
            {
                data: [{x: 'Jan, 2007', y: 0, text: ''},
                       {x: 'Jun, 2007', y: 15, text: 'BTX1'},{x: 'Aug, 2011', y: 0, text: ''},
                       {x: 'Mar, 2016', y: 15, text: 'BTX2'},{x: 'May, 2020', y: 0, text: ''},
                ],
                  datalabels: {
                    formatter: function(value, context) {
                      return value.text;
                    },
                    anchor: 'end',
                    align: 'top',
                    rotation: 0,
                    offset: 0,
                    labels: {
                            title: {
                                        color: 'rgba(54, 162, 235, 1)'
                                    }
                            }
                  },
                yAxisID: 'y1',
                stepped: true,
                pointRadius: 8,
                pointHoverRadius: 12,
                fill: true,
                label: 'Sensor 3: (Batch ID)'
            }
            ],
            labels: labels
        },
        options: {
            scales: {
                  y: {
                    type: 'linear',
                    display: true,
                    position: 'left',
                    title: {
                        display: true,
                        text: 'Degrees C, RPM',
                        },
                  },
                  y1: {
                    type: 'linear',
                    position: 'right',
                    title: {
                        display: true,
                        text: 'Batch Detection',
                        },

                    // grid line settings
                    grid: {
                      drawOnChartArea: false, // only want the grid lines for one axis to show up
                    },
                  },
            },
            responsive: true,
            maintainAspectRatio: false,
            aspectRatio: 4,
            title: {
                display: false,
                text: 'Task status for the last hour'
            },
            animation: {
                animateScale: true,
                animateRotate: true
            },
            plugins: {
                        legend: {
                          position: 'right',
                    },
                  zoom: {
                      limits: {
                        minRange: 1
                      },
                      pan: {
                          enabled: true,
                          mode: 'xy',
                       },
                    zoom: {
                        wheel:{
                          enabled: true,
                        },
                        drag: {
                          enabled: true,
                          borderColor: 'rgb(54, 162, 235)',
                          borderWidth: 1,
                          backgroundColor: 'rgba(54, 162, 235, 0.3)',
                          modifierKey: 'ctrl'
                        },
                      mode: 'xy',
                    }
                  },
                  datalabels: {
                    color: 'rgba(54, 162, 235, 0.3)',
                    labels: {
                      title: null
                    }
                  },
                  annotation: {
                    annotations: {
                      alarm1: {
                        borderDash: [4, 4],
                        // Indicates the type of annotation
                        type: 'line',
                        borderColor: 'rgb(255, 99, 132)',
                        yMin: 85,
                        yMax: 85,
                        borderWidth: 1,
                        label: { content: 'RPM max alarm',
                                 enabled: true,
                                 display: true,
                                 position: 'end',
                                 backgroundColor: 'red',
                        }
                      }
                    }
                  }
            }
        }
    };

    $( document ).ready(() => {
        window.chart_{{ response_id }} = ClaramaChart("chart_{{ response_id }}", config);
    });

    function resetZoom() {
          chart_{{ response_id }}.resetZoom();
    }



    var colorNames = Object.keys(window.chartColors);



    </script>
{% endblock %}
