<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarEditor"
                aria-controls="navbarEditor" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarEditor">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0" style="padding:5px">
                <li class="nav-item">
                    <a href="#" id="content_editor_raw_save"><i class="nav-link bi bi-floppy"></i></a>
                </li>
                <li class="nav-item"><i class="nav-link">&nbsp;|&nbsp;</i></li>
                <li class="nav-item">
                    <i class="nav-link bi bi-arrow-counterclockwise"></i>
                </li>
                <li class="nav-item">
                    <i class="nav-link bi bi-arrow-clockwise"></i>
                </li>
                <li class="nav-item"><i class="nav-link">&nbsp;|&nbsp;</i></li>
                <li class="nav-item">
                    <i class="nav-link bi bi-scissors"></i>
                </li>
                <li class="nav-item">
                    <i class="nav-link bi bi-copy"></i>
                </li>
                <li class="nav-item">
                    <i class="nav-link bi bi-clipboard-plus"></i>
                </li>
            </ul>
            <div class="col">
                &nbsp;
            </div>
            <div class="col-auto btn btn-primary">
                {{ encoding }}
            </div>
        </div>
    </div>
</nav>
<div id="content_query_{{ short_id() }}"
     editor="{{ raweditor }}"
     savebutton="content_editor_raw_save"
     class="source-editor form-control"
     style="min-height: 1000px">{{ file_content }}</div>

{% include "web/file_footer.html" %}