{% if sgroup is not defined %}
    {% set sgroup = {"series-type" : "Line"} %}
{% endif %}
<li class="chart-series-groups">
    <div class="list-group-item d-flex row gx-2 align-items-center">
        <div style="width: 2%;">
            <i class="bi bi-grip-vertical draggable-heading pe-3" draggable="true"></i>
        </div>
        <div class="grid10-col-1">
            <select id="series-tab{{ loop_index }}" class="form-control series-tab">
                {% for tab in tabs %}
                    {% set tab_id = tab.tab_id if tab.tab_id is defined else loop.index0 %}
                    {% set has_source = tab.source and tab.source.strip() %}
                    {% set filename = tab.source.split('/')[-1].split('\\')[-1] if has_source else 'Tab ' + (tab_id|string) %}
                    {% set is_selected = sgroup.get('series-tab') and tab_id|string == sgroup['series-tab']|string %}
                    {% set is_first_and_no_selection = loop.first and not sgroup.get('series-tab') %}
                    <option value="{{ tab_id }}"
                            {% if is_selected or is_first_and_no_selection %}selected{% endif %}>
                        {{ filename }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="grid10-col-1">
            <select id="sg_type_{{ loop_index }}_{{ series_index }}" class="form-control series-type">
                <option {{ selected("Line",sgroup['series-type']) }}>Line</option>
                <option {{ selected("Scatter",sgroup['series-type']) }}>Scatter</option>
                <option {{ selected("Bubble",sgroup['series-type']) }}>Bubble</option>
                <option {{ selected("Bar",sgroup['series-type']) }}>Bar</option>
                <option {{ selected("Radial Bar",sgroup['series-type']) }}>Radial Bar</option>
                <option {{ selected("Doughnut",sgroup['series-type']) }}>Doughnut</option>
                <option {{ selected("Pie",sgroup['series-type']) }}>Pie</option>
                <option {{ selected("Polar Area",sgroup['series-type']) }}>Polar Area</option>
                <option {{ selected("Radar",sgroup['series-type']) }}>Radar</option>
            </select>
        </div>
        <div class="grid10-col-1">
            <input type="string" class="form-control series-x" id="x{{ loop_index }}_{{ series_index }}" name="x"
                   value="{{ sgroup['series-x'] }}">
        </div>
        <div class="grid10-col-1">
            <input type="string" class="form-control series-y" id="y{{ loop_index }}_{{ series_index }}" name="y"
                   value="{{ sgroup['series-y'] }}">
        </div>
        <div class="grid10-col-1">
            <input type="string" class="form-control series-z" id="z{{ loop_index }}_{{ series_index }}" name="z"
                   value="{{ sgroup['series-z'] }}" {% if (sgroup['series-type'] == "Line") %}disabled{% endif %}>
        </div>
        <div class="grid10-col-1">
            <input type="string" class="form-control series-ymin" id="ymin{{ loop_index }}_{{ series_index }}"
                   name="ymin"
                   value="{{ sgroup['series-ymin'] }}">
        </div>
        <div class="grid10-col-1">
            <input type="string" class="form-control series-ymax" id="ymax{{ loop_index }}_{{ series_index }}"
                   name="ymax"
                   value="{{ sgroup['series-ymax'] }}">
        </div>
        <div class="grid10-col-1">
            <input type="string" class="form-control series-s" id="s{{ loop_index }}_{{ series_index }}" name="s"
                   value="{{ sgroup['series-s'] }}">
        </div>
        <div class="grid10-col-1">
            <input type="string" class="form-control series-u" id="u{{ loop_index }}_{{ series_index }}" name="u"
                   value="{{ sgroup['series-u'] }}">
        </div>
        <div class="grid10-col-1">
            <input type="string" class="form-control series-l" id="l{{ loop_index }}_{{ series_index }}" name="l"
                   value="{{ sgroup['series-l'] }}">
        </div>
        <div style="width: 2%;">
            <i class="bi bi-trash ps-3 cell-delete-series-group data-cell-icon-hover remove"></i>
        </div>
    </div>
</li>