{% if sanno is not defined %}
    {% set sanno = {"anno-col" : "", "anno-col-back" : ""} %}
{% endif %}
{% if chart is not defined %}
    {% set chart = {} %}
{% endif %}
{% set chartColors = {
        "Default": "",
        "Red": "rgb(255, 50, 50)",
        "Orange": "rgb(255, 159, 64)",
        "Yellow": "rgb(255, 205, 86)",
        "Green": "rgb(75, 255, 192)",
        "Blue": "rgb(54, 162, 235)",
        "Purple": "rgb(153, 102, 255)",
        "Grey": "rgb(201, 203, 207)",
        "Medium Grey": "rgb(128, 128, 128)",
        "Dark Grey": "rgb(64, 64, 64)",
        "Black": "rgb(20, 20, 20)"
    } %}
<div class="chart-series-annotations">
    <div class="list-group-item d-flex row gx-2 align-items-center">
        <div class="grid14-col-1">
            <select id="anno-tab{{ loop_index }}_{{ series_index }}" class="form-control anno-tab">
                {% for tab in tabs %}
                    {% set tab_id = tab.tab_id if tab.tab_id is defined else loop.index0 %}
                    {% set has_source = tab.source and tab.source.strip() %}
                    {% set filename = tab.source.split('/')[-1].split('\\')[-1] if has_source else 'Tab ' + (tab_id|string) %}
                    <option value="{{ tab_id }}"
                            {% if sanno['anno-tab'] and tab_id|string == sanno['anno-tab']|string %}selected{% endif %}>
                        {{ filename }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="grid14-col-1">
            <select id="anno-type{{ loop_index }}_{{ series_index }}" class="form-control anno-type" title="Type"
                    data-toggle="tooltip">>
                <option {{ selected("box",sanno['anno-type']) }} id="box">Box</option>
                <option {{ selected("point",sanno['anno-type']) }} id="point">Point</option>
                <option {{ selected("label",sanno['anno-type']) }} id="label">Label</option>
                <option {{ selected("line",sanno['anno-type']) }} id="line">Line (Point-to-Point)</option>
                <option {{ selected("vline",sanno['anno-type']) }} id="vline">Line (Vertical)</option>
                <option {{ selected("hline",sanno['anno-type']) }} id="hline">Line (Horizontal)</option>
                <option {{ selected("bounds",sanno['anno-type']) }} id="bounds">Bounds</option>
                <option {{ selected("callout",sanno['anno-type']) }} id="callout">Callout</option>
            </select>
        </div>
        <div class="grid14-col-1">
            <input type="string" class="form-control anno-i" id="anno-i{{ loop_index }}_{{ series_index }}"
                   name="image"
                   value="{{ sanno['anno-i'] }}">
        </div>
        <div class="grid14-col-1">
            <input type="string" class="form-control anno-label" id="anno-l{{ loop_index }}_{{ series_index }}"
                   name="label"
                   value="{{ sanno['anno-label'] }}">
        </div>
        <div class="grid14-col-1">
            <input type="string" class="form-control anno-x" id="anno-x{{ loop_index }}_{{ series_index }}" name="x"
                   value="{{ sanno['anno-x'] }}">
        </div>
        <div class="grid14-col-1">
            <input type="string" class="form-control anno-y" id="anno-y{{ loop_index }}_{{ series_index }}" name="y"
                   value="{{ sanno['anno-y'] }}">
        </div>
        <div class="grid14-col-1">
            <input type="string" class="form-control anno-xm" id="anno-xm{{ loop_index }}_{{ series_index }}"
                   name="xmax"
                   value="{{ sanno['anno-xm'] }}">
        </div>
        <div class="grid14-col-1">
            <input type="string" class="form-control anno-ym" id="anno-ym{{ loop_index }}_{{ series_index }}"
                   name="ymax"
                   value="{{ sanno['anno-ym'] }}">
        </div>
        <div class="grid14-col-1">
            <input type="string" class="form-control anno-u" id="anno-u{{ loop_index }}_{{ series_index }}" name="u"
                   value="{{ sanno['anno-u'] }}">
        </div>
        <div class="grid14-col-1">
            <input type="string" class="form-control anno-s" id="anno-s{{ loop_index }}_{{ series_index }}" name="s"
                   value="{{ sanno['anno-s'] }}">
        </div>
        <div class="d-flex justify-content-evenly" style="width: 4%;">
            <input type="checkbox" class="form-check-input anno-dt" id="anno-dt{{ loop_index }}_{{ series_index }}"
                   name="dt"
                   {% if sanno['anno-dt'] %}checked{% endif %} title="Dotted Lines" data-toggle="tooltip">
        </div>
        <div class="grid14-col-1">
            <input type="number" step="1" min="0" max="100" class="form-control anno-width"
                   id="anno-width{{ loop_index }}_{{ series_index }}" name="width" value="{{ sanno['anno-width'] }}"
                   data-toggle="tooltip"
                   title="Border Width">
        </div>
        <div class="grid14-col-1">
            <div class="color-picker-container d-flex align-items-center">
                <select class="form-control chart-col" id="anno-col{{ loop_index }}_{{ series_index }}" name="color"
                        style="background-color: {{ sanno['anno-col'] }}; " title="Line colour"
                        data-toggle="tooltip">
                    {% for key, value in chartColors.items() %}
                        <option value="{{ value }}" {%- if sanno['anno-col']==value -%}selected{%- endif -%}>
                            {{ key }}
                        </option>
                    {% endfor %}
                    {% if (sanno['anno-col']  or '').startswith('#') %}
                        <option value="{{ sanno['anno-col'] }}" selected>{{ sanno['anno-col'] }}</option>
                    {% endif %}
                    <option value="custom">Custom Colour</option>
                </select>
                <i class="bi bi-three-dots-vertical ellipsis"></i>
                <input type="color" selected="chart-col" class="form-control chart-col-picker"
                       id="anno-col-picker{{ loop_index }}_{{ series_index }}"
                       name="cc" value="{{ sanno['anno-col'] }}">
            </div>
        </div>
        <div class="grid14-col-1">
            <div class="color-picker-container d-flex align-items-center">
                <select class="form-control chart-col-back" id="anno-col-back{{ loop_index }}_{{ series_index }}"
                        name="color-back" style="background-color: {{ sanno['anno-col-back'] }}; "
                        title="Fill colour" data-toggle="tooltip">
                    {% for key, value in chartColors.items() %}
                        <option value="{{ value }}"
                                {%- if sanno['anno-col-back']==value -%}selected{%- endif -%}>
                            {{ key }}
                        </option>
                    {% endfor %}
                    {% if (sanno['anno-col-back'] or '').startswith('#') %}
                        <option value="{{ sanno['anno-col-back'] }}"
                                selected>{{ sanno['anno-col-back'] }}</option>
                    {% endif %}
                    <option value="custom">Custom Colour</option>
                </select>
                <i class="bi bi-three-dots-vertical ellipsis2"></i>
                <input type="color" selected="chart-col-back" class="form-control chart-col-picker-back"
                       id="anno-col-back-picker{{ loop_index }}_{{ series_index }}"
                       name="cc" value="{{ sanno['anno-col-back'] }}">
            </div>
        </div>
        <div style="width: 2%;">
            <i class="bi bi-trash ps-3 cell-delete-series-annotations data-cell-icon-hover remove" title="Delete?"
               data-toggle="tooltip"></i>
        </div>
    </div>
</div>