{% if sobj is not defined %}
    {% set sobj = {} %}
{% endif %}
{% if chart3d is not defined %}
    {% set chart3d = {} %}
{% endif %}
<li class="chart3d-series-objects">
    <div class="list-group-item d-flex row gx-2 align-items-center">
        <!-- vertices -->
        <div class="grid5-col-1">
            <select id="obj-vertices{{ loop_index }}_{{ series_index }}" class="form-control obj-vertices">
                {% for tab in tabs %}
                    {% set tab_id = tab.tab_id if tab.tab_id is defined else loop.index0 %}
                    {% set has_source = tab.source and tab.source.strip() %}
                    {% set filename = tab.source.split('/')[-1].split('\\')[-1] if has_source else 'Tab ' + (tab_id|string) %}
                    <option value="{{ tab_id }}"
                            {% if sobj['obj-vertices'] and tab_id|string == sobj['obj-vertices']|string %}selected{% endif %}>
                        {{ filename }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <!-- edges -->
        <div class="grid5-col-1">
            <select id="obj-edges{{ loop_index }}_{{ series_index }}" class="form-control obj-edges">
                {% for tab in tabs %}
                    {% set tab_id = tab.tab_id if tab.tab_id is defined else loop.index0 %}
                    {% set has_source = tab.source and tab.source.strip() %}
                    {% set filename = tab.source.split('/')[-1].split('\\')[-1] if has_source else 'Tab ' + (tab_id|string) %}
                    <option value="{{ tab_id }}"
                            {% if sobj['obj-edges'] and tab_id|string == sobj['obj-edges']|string %}selected{% endif %}>
                        {{ filename }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <!-- uv (optional) -->
        <div class="grid5-col-1">
            <select id="obj-uv{{ loop_index }}_{{ series_index }}" class="form-control obj-uv">
                <option value="none" {% if sobj['obj-uv'] and tab_id|string == sobj['obj-uv']|string %}selected{% endif %}>none</option>
                {% for tab in tabs %}
                    {% set tab_id = tab.tab_id if tab.tab_id is defined else loop.index0 %}
                    {% set has_source = tab.source and tab.source.strip() %}
                    {% set filename = tab.source.split('/')[-1].split('\\')[-1] if has_source else 'Tab ' + (tab_id|string) %}
                    <option value="{{ tab_id }}"
                            {% if sobj['obj-uv'] and tab_id|string == sobj['obj-uv']|string %}selected{% endif %}>
                        {{ filename }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <!-- colour -->
        <div class="grid5-col-1">
            <select id="obj-colour{{ loop_index }}_{{ series_index }}" class="form-control obj-colour">
                {% for tab in tabs %}
                    {% set tab_id = tab.tab_id if tab.tab_id is defined else loop.index0 %}
                    {% set has_source = tab.source and tab.source.strip() %}
                    {% set filename = tab.source.split('/')[-1].split('\\')[-1] if has_source else 'Tab ' + (tab_id|string) %}
                    <option value="{{ tab_id }}"
                            {% if sobj['obj-colour'] and tab_id|string == sobj['obj-colour']|string %}selected{% endif %}>
                        {{ filename }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <!-- primitive -->
        <div class="grid5-col-1">
            <select id="obj-primitive{{ loop_index }}_{{ series_index }}" class="form-control obj-primitive" title="Type"
                    data-toggle="tooltip">>
                <option {{ selected("point",sobj['obj-primitive']) }} id="point">Point</option>
                <option {{ selected("line",sobj['obj-primitive']) }} id="line">Line</option>
                <option {{ selected("triangle",sobj['obj-primitive']) }} id="triangle">Triangle</option>
            </select>
        </div>
        <div style="width: 2%;">
            <i class="bi bi-trash ps-3 cell-delete-series-object data-cell-icon-hover remove" title="Delete?"
               data-toggle="tooltip"></i>
        </div>
    </div>
</li>