<li class="dropdown-item slate-elem-dropdown-item" loop-index="{{ uid }}" elem-id="{{ current_element }}"
    target-id="{{ target }}" draggable="true">
    <div class="list-group-item d-flex align-items-center">
        <i class="bi bi-grip-vertical draggable-heading p-0" draggable="true"></i>
        <div class="cElem mx-2 flex-grow-1 w-100 align-middle ">
            {{ element_summary(current_element, current_element_url, target) | safe }}
        </div>

        <i class="bi bi-gear mx-1 mx-2"
           data-bs-toggle="modal"
           data-bs-target="#interactionSettingsModal"
           data-index="{{ uid }}"
           data-element="{{ current_element }}"
           data-target="{{ target }}"
           data-url="{{ current_element_url }}"
           data-params="{{ current_element_params }}"
           data-wait="{{ do_wait }}"
           data-menuName="{{ menu_item_name }}"
           onclick="openInteractionSettings(this)"></i>
        <i class="bi bi-trash p-0 delete-grid-interaction"
           onClick="delete_interaction('{{ target }}', '{{ uid }}');"></i>
    </div>
</li>