<div class="clarama-cell-content clarama-cell-border" celltype="source" dataid="{{ loop_index }}">
    <div class="rounded text-light" style="padding: 5px">
        <div class="rounded text-light row">
            <div class="btn-group col align-items-center">
                <!-- <button type="button" class="gridbrowsefile border border-0 bg-white input-group align-items-center" data-bs-toggle="modal" data-bs-target="#browseFileModal" inputId="task_step_{{ loop_index }}_source" filters="*.source.yaml|*.csv|*.xlsx">
                    <input id="task_step_{{ loop_index }}_source" type="text" class="form-control border-0"
                        placeholder="Data Source Filename" aria-label="Data source relative filename"
                        value="{{ source }}">
                        <i class="bi bi-folder2-open px-2"></i>
                    </input>
                </button> -->

                <div class="input-group">
                    <i class="bi bi-database fs-4 me-2"></i>
                    <input id="task_step_{{ loop_index }}_source" type="text"
                           class="form-control rounded-0 border border-end-0 border-light-subtle removeInputFocus"
                           placeholder="Data Source Filename" aria-label="Data source relative filename"
                           value="{{ source }}">
                    <button type="button" class="gridbrowsefile"
                            data-bs-toggle="modal" data-bs-target="#browseFileModal"
                            inputId="task_step_{{ loop_index }}_source" filters="*.source.yaml|*.csv|*.xlsx">
                        <i class="bi bi-folder2-open"></i>
                    </button>
                </div>

                {% if source %}
                    <a href="{{ source }}" target="_blank" id="task_step_{{ loop_index }}_browse_link"
                       class="text-decoration-none text-white">
                        <button id="task_step_{{ loop_index }}_browse" type="button"
                                class="btn btn-c2-secondary datasource" aria-haspopup="true"
                                aria-expanded="false" style="border-radius: 0px 4px 4px 0px;">
                            <i class="bi bi-pen"></i>
                        </button>
                    </a>
                {% else %}
                    <a href="#" target="_blank" id="task_step_{{ loop_index }}_browse_link"
                       class="text-decoration-none text-white" style="display:none;">
                        <button id="task_step_{{ loop_index }}_browse" type="button"
                                class="btn btn-c2-secondary datasource" aria-haspopup="true"
                                aria-expanded="false" style="border-radius: 0px 4px 4px 0px;">
                            <i class="bi bi-pen"></i>
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>