<div class="clarama-cell-content clarama-cell-border" celltype="task" dataid="{{ loop_index }}">
    <div class="rounded text-light" style="padding: 5px">
        <div class="rounded text-light row">
            <div class="btn-group col align-items-center">
                <div class="input-group">
                    <i class="bi bi-journal-arrow-down fs-4 me-2"></i>
                    <input id="task_step_{{ loop_index }}_task" type="text"
                           class="form-control rounded-0 border border-end-0 border-light-subtle removeInputFocus"
                           placeholder="Task Filename" aria-label="Task relative filename"
                           value="{{ task }}">
                    <button type="button" class="gridbrowsefile"
                            data-bs-toggle="modal" data-bs-target="#browseFileModal"
                            inputId="task_step_{{ loop_index }}_task" filters="*.task.yaml">
                        <i class="bi bi-folder2-open"></i>
                    </button>
                </div>

                {% if task %}
                    <a href="{{ task }}" target="_blank" id="task_step_{{ loop_index }}_browse_link"
                       class="text-decoration-none text-white">
                        <button id="task_step_{{ loop_index }}_browse" type="button"
                                class="btn btn-c2-secondary datasource" aria-haspopup="true"
                                aria-expanded="false" style="border-radius: 0px 4px 4px 0px;">
                            <i class="bi bi-pen"></i>
                        </button>
                    </a>
                {% else %}
                    <a href="#" target="_blank" id="task_step_{{ loop_index }}_browse_link"
                       class="text-decoration-none text-white" style="display:none;">
                        <button id="task_step_{{ loop_index }}_browse" type="button"
                                class="btn btn-c2-secondary datasource" aria-haspopup="true"
                                aria-expanded="false" style="border-radius: 0px 4px 4px 0px;">
                            <i class="bi bi-pen"></i>
                        </button>
                    </a>
                {% endif %}

            </div>

            <div class="input-group">
                <input id="task_step_{{ loop_index }}_ping" type="number"
                       class="form-control rounded-0 border border-end-0 border-light-subtle col-1 removeInputFocus"
                       placeholder="Task Ping (milliseconds - default 100)" aria-label="Task ping"
                       min="50"
                       max="6000"
                       value="{{ ping }}">

                <input id="task_step_{{ loop_index }}_timeout" type="number"
                       step="1"
                       min="300"
                       max="86400"
                       class="form-control rounded-0 border border-end-0 border-light-subtle col-1 removeInputFocus"
                       placeholder="Task Timeout (Seconds) - default 3000" aria-label="Task ping"
                       value="{{ timeout }}">
            </div>


        </div>
    </div>
</div>